header {
  top: 0;
  position: fixed;
  padding: 15px 20px;
  margin: 0;

  width: 100vw;

  background-image: linear-gradient(90deg, var(--pumpkin), var(--orange-peel));
  color: white;
}

    header > nav {
      display: flex;
      gap: 7.5px;
      height: fit-content;
    }

        header > nav > img {
          width: 30px;
        }

        header > nav > h3 {
          padding: 0;
          margin: 0;
          font-weight: 500;
        }
  
main {
  max-width: 800px;

  margin-top: 80px;
  margin-left: auto;
  margin-right: auto;
}

.input-form {
  width: fit-content;
  margin-right: auto;
  margin-left: auto;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 15px;
}

    .input-form > input {
      border-radius: 5px;
      height: 35px;

      border: 1px solid #D5D4D8;
      padding: 0 10px;
    }

    .input-form > input[type="text"]:focus {
      border: 1px solid var(--orange-peel);
    }

    .input-form > button
    {
      grid-column-start: 1;
      grid-column-end: span 2;

      height: 40px;

      background-color: var(--french-violet);
      color: white;
      
      font-family: 'Nunito', sans-serif;
      font-weight: 700;
      font-size: 16px;
    }

    .input-form > button:hover {
      background-color: var(--amethyst);
      color: var(--orange-peel);
    }

    .input-form > button:active {
      background-color: var(--orange-peel);
      color: var(--amethyst);
    }

.meme-frame {
  grid-column-start: 1;
  grid-column-end: span 2;
  object-fit: cover;
  padding: 0;
  margin-top: 21px;
}

.meme-frame > img {
  max-width: 500px;
  border-radius: 2px;
}