header {
  top: 0;
  position: fixed;
  padding: 15px 20px;
  margin: 0;

  width: 100vw;

  background-image: linear-gradient(90deg, var(--pumpkin), var(--orange-peel));
  color: white;
}

    header > nav {
      display: flex;
      gap: 7.5px;
      height: fit-content;
    }

        header > nav > img {
          width: 30px;
        }

        header > nav > h3 {
          padding: 0;
          margin: 0;
          font-weight: 500;
        }
  
